/* nav */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3%;
}

#logo {
  width: 150px;
  transform: translate(40px, 0);
}

.nav-links-desktop {
  font-size: 1.3em;
  transform: translate(-20px, 0);
}
.nav-links-desktop a {
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
}

.nav-links-desktop a:hover {
  color: var(--blue);
}

.nav-mobile-icon{
  display: none;
  width: 50px;
}

.nav-links-mobile, .nav-links-mobile-show {
  display: none;
}

@media only screen and (max-width: 750px) {
nav {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas:
    "logo nav-icon"
    "empty nav-links";
}

.nav-links-desktop {
  display: none;
}

#logo {
  grid-area: logo;
  transform: translate(20px, 0);
  width: 140px;
}

.nav-mobile-icon {
  display: grid;
  grid-area: nav-icon;
  margin-left: auto;
  transform: translate(-20px, 0);
  cursor: pointer;
}

.nav-links-mobile-show {
  font-size: 1.2em;
  display: grid;
  grid-area: nav-links;
  margin-left: auto;
  transform: translate(-12px, 0);
  z-index: 1;
  margin-bottom: -60%;
  margin-top: -10%;
}

.nav-links-mobile-show a{
  background: var(--grey);
  text-decoration: none;
  border: #ffffff 1px solid;
  padding: 7px;
}

.nav-links-mobile-show a:hover {
  color: #ffffff;
  background: var(--blue);
}
}

/* footer */
footer {
  background-color: var(--dark-grey);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-areas:
    "logo links email"
    "copyright links social";
  justify-items: center;
  padding: 65px 0;
}

footer .logo {
  grid-area: logo;
  width: 140px;
  transform: translate(1%,0);
}

footer .copyright-notice {
  grid-area: copyright;
  font-size: 1.2em;
  transform: translate(24%,0);
}

#footer-links {
  grid-area: links;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#footer-links a {
  text-decoration: none;
  font-size: 1.5em;
  padding: 1px;
}

#footer-email {
  grid-area: email;
  font-size: 1.5em;
}

#footer-email a {
  text-decoration: none;
}

footer .social-icons {
  grid-area: social;
  display: flex;
}

footer .social-icons img {
  width: 40px;
  padding: 0 22px;
}

@media only screen and (max-width: 900px) {
  footer .logo {
    width: 120px;
  }
  footer .copyright-notice {
    font-size: 1em;
  }
  #footer-links a {
    font-size: 1.3em;
  }
  #footer-email {
    grid-area: email;
    font-size: 1.3em;
  }
}

@media only screen and (max-width: 700px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
  }
  footer .logo{
    transform: translate(0,0);
  }
  footer .copyright-notice {
    transform: translate(0,0);
    text-align: center;
  }
}