/* nav */
.nav-desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3%;
}

#logo {
  width: 150px;
  transform: translate(45px, 0);
}

.nav-links-desktop {
  font-size: 1.3em;
}
.nav-links-desktop a {
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
}

/* footer */
footer {
  background-color: var(--dark-grey);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "logo links email"
    "copyright links social";
  justify-items: center;
  padding: 65px 0;
}

footer .logo {
  grid-area: logo;
  width: 200px;
}

footer .copyright-notice {
  grid-area: copyright;
  font-size: 1.2em;
  margin-left: 90px;
}

#footer-links {
  grid-area: links;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#footer-links a {
  text-decoration: none;
  font-size: 1.5em;
  padding: 1px;
}

#footer-email {
  grid-area: email;
  font-size: 1.5em;
}

#footer-email a {
  text-decoration: none;
}

footer .social-icons {
  grid-area: social;
  display: flex;
}

footer .social-icons img {
  width: 40px;
  padding: 0 22px;
}
