/* fonts */
@font-face {
  font-family: circular;
  src: url(/fonts/circular.ttf) format("truetype");
}

@font-face {
  font-family: circular-light;
  src: url(/fonts/circular-light.ttf) format("truetype");
}

/* website colours (other than white (#FFFFFF) and black (#000000)) */
:root {
  --blue: #59c9ff; /* for important text, headings, and button backgrounds */
  --dark-grey: #121212; /* background and text colour if background is light */
  --grey: #2b2b2b;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: circular-light, helvetica, sans-serif, arial;
  color: #ffffff;
  background-color: var(--dark-grey);
  overflow-x: hidden;
}

h1,
h3,
h4,
h5,
h6 {
  color: #ffffff;
  font-weight: 700;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 2em;
  font-weight: 500;
}

p {
  color: #ffffff;
}

a {
  color: #ffffff;
}

a:hover {
  color: var(--blue);
  text-decoration: none;
}

@media only screen and (max-width: 2400px) {
  h1 {
    font-size: 3.5em;
  }
  h2 {
    font-size: 1.5em;
  }  
}

@media only screen and (max-width: 900px) {
  h1 {
    font-size: 3.2em;
  }
  h2 {
    font-size: 1.3em;
  }
}
@media only screen and (max-width: 750px) {
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 1.2em;
  }
}

/* Shared rules (for problem and answer) */
.image-box {
  background-color: var(--grey);
  box-shadow: 25px 25px 0 0 var(--blue);
}

@media only screen and (max-width: 750px) {
  .image-box {
    box-shadow: -25px 25px 0 0 var(--blue);
  }
}

/* hero section */
#hero {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("/images/home/particles-hero-section.png"),
    url("/images/home/hero-section-bg2.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

#hero h1 {
  font-family: circular, helvetica, sans-serif, arial;
  text-align: center;
  margin-top: 90px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

#hero h2 {
  text-align: center;
  font-size: 1.2em;
  font-weight: 550;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.learn-more-button {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: var(--blue);
  border-radius: 10px;
  padding: 15px;
  width: 200px;
}

.learn-more-text {
  font-family: circular, helvetica, sans-serif, arial;
  text-decoration: none;
  color: var(--grey);
  font-size: 20px;
  font-weight: 600;
}

.learn-more-text:hover {
  color: #ffffff;
}

@media only screen and (max-width: 2400px) {
  #hero h1 {
    margin-top: 4%;
  }
  #hero h2 {
    margin-top: -10px;
  }
}

@media only screen and (max-width: 900px) {
  #hero {
    height: 110vh;
  }
  #hero h1 {
    margin-top: 9%;
    width: 80%;
  }
  #hero h2 {
    width: 75%;
  }
}

@media only screen and (max-width: 750px) {
  #hero h1 {
    margin-top: 20%;
  }
  #hero h2 {
    font-size: 1em;
  }
}

@media only screen and (max-width: 400px) {
  #hero h1 {
    margin-top: 40%;
  }
}

/* Problem section */
#problem {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-image: linear-gradient(
      rgba(43, 43, 43, 0.8),
      rgba(43, 43, 43, 0.8)
    ),
    url("/images/background.png");
  background-size: cover;
  height: 100vh;
}

#problem-text {
  display: flex;
  flex-direction: column;
}

#problem-text h1 {
  font-family: circular, helvetica, sans-serif, arial;
  color: var(--blue);
  text-align: left;
}


#problem img {
  width: 25vw;
  animation: 2s ease-out slide-from-right;
  padding: 70px;
}

@media only screen and (max-width: 900px) {
  #problem img {
    padding: 40px;
  }
}
@media only screen and (max-width: 750px) {
  #problem {
    flex-direction: column;
    padding-bottom: 10%;
  }
  #problem img {
    animation: 2s ease-out slide-from-left;
  }
}

/* slideshow */
.swiper-container {
  height: 100vh;
}

.slideshow-1, .slideshow-2, .slideshow-3 {
  background-size: cover;
  background-position: center;
}

.slideshow-1 {
  background-image: linear-gradient(
      rgba(21, 21, 21, 0.185),
      rgba(21, 21, 21, 0.185)
    ), url("/images/home/slideshow/clouds.jpg");
}

.slideshow-2 {
  background-image: linear-gradient(
      rgba(21, 21, 21, 0.185),
      rgba(21, 21, 21, 0.185)
    ), url("/images/home/slideshow/mountain.jpg");
}

.slideshow-3 {
  background-image: linear-gradient(
    rgba(21, 21, 21, 0.185),
    rgba(21, 21, 21, 0.185)
  ), url("/images/home/slideshow/forest.jpg");
}

#slideshow-1-content, #slideshow-2-content, #slideshow-3-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.slideshow-3 img {
  width: 200px;
  z-index: 1;
}

#slideshow-3-content {
  transform: translate(0, 220px);
}

#slideshow-1-content h1, #slideshow-2-content h1 {
  font-family: circular, helvetica, sans-serif, arial;
  text-align: center;
  margin-top: 220px;
  color: var(--blue);
  font-size: 4.5em;
}

#slideshow-1-content h1 {
  margin-bottom: -100px;
}

#slideshow-1-content h2, #slideshow-2-content h2, #slideshow-3-content h2{
  font-size: 1.3em;
  padding: 0 20px 0 20px;
}

#slideshow-2-content h2 {
  margin-top: -10px;
}

.swiper-button-prev, .swiper-button-next {
  color: #ffffff;
  opacity: 0.4;
}

@media only screen and (max-width: 750px) {
  #slideshow-1-content h2, #slideshow-2-content h2, #slideshow-3-content h2{
    font-size: 1.1em;
  }
}

/* Solution Section */
#solution {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-image: linear-gradient(
      rgba(43, 43, 43, 0.8),
      rgba(43, 43, 43, 0.8)
    ),
    url("/images/home/particles-overlay.png"), url("/images/background.png");
  background-size: cover;
  height: 100vh;
}

#solution-text {
  display: flex;
  flex-direction: column;
  text-align: right;
}

#solution-text h1 {
  font-family: circular, helvetica, sans-serif, arial;
  text-align: right;
  color: var(--blue);
}

#solution .image-box {
  box-shadow: -25px 25px 0 0 var(--blue);
}

#solution img {
  width: 30vw;
  animation: 2s ease-out slide-from-left;
  padding: 120px 50px;
}

.image-box-mobile {
  display: none;
}

@media only screen and (max-width: 900px) {
  #solution img {
    padding: 60px 30px;
  }
  #solution .image-box {
    box-shadow: -25px 25px 0 0 var(--blue);
  }
}
@media only screen and (max-width: 750px) {
  #solution {
    flex-direction: column;
  }
  #solution-text {
    margin-top: 10%;
    text-align: left;
  }
  #solution-text h1 {
    text-align: left;
  }
  #solution-text h2:last-child {
    margin-bottom: 15%;
  }
  .image-box-desktop {
    display: none;
  }
  .image-box-mobile {
    display: flex;
  }
}

/* Answer Section */
#answer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-image: linear-gradient(
      rgba(43, 43, 43, 0.8),
      rgba(43, 43, 43, 0.8)
    ),
    url("/images/home/particles-overlay.png"), url("/images/background.png");
  background-size: cover;
  height: 100vh;
}

#answer-text {
  display: flex;
  flex-direction: column;
}

#answer-text h1 {
  font-family: circular, helvetica, sans-serif, arial;
  color: var(--blue);
}

#answer img {
  width: 28vw;
  animation: 2s ease-out slide-from-right;
  padding: 120px 60px;
}

@media only screen and (max-width: 900px) {
  #answer img {
    padding: 60px 30px;
  }
}
@media only screen and (max-width: 750px) {
  #answer {
    flex-direction: column;
    height: 140vh;
  }
  #answer-text {
    text-align: left;
  }
  #answer-text h1 {
    text-align: left;
  }
  #answer-text h2:last-child {
    margin-bottom: -10%;
  }
  #answer img {
    animation: 2s ease-out slide-from-left;
  }
}

/* Stay Updated Section */
#stay-updated {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(
      rgba(21, 21, 21, 0.6),
      rgba(21, 21, 21, 0.6)
    ),
    url("/images/home/abstract-bg.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 365px;
}

#stay-updated h1 {
  margin-top: 3%;
  font-size: 3em;
  color: var(--blue);
}

#stay-updated p {
  /* margin-top: -1.5%; */
  text-align: center;
  font-size: 1.5em;
  width: 75%;
}

#stay-updated #email-field {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  padding: 2.6vh;
  width: 250px;
  border: 2px solid white;
  border-radius: 10px;
  font-size: 0.9em;
  text-align: center;
}

#stay-updated #email-field::placeholder {
  color: white;
  opacity: 70%;
}

#stay-updated #sign-up-button {
  font-family: circular, helvetica, sans-serif, arial;
  font-weight: 700;
  background-color: var(--blue);
  color: var(--grey);
  padding: 2.5vh;
  margin-left: 10px;
  width: 150px;
  border: none;
  border-radius: 10px;
  font-size: 1.2em;
}

#stay-updated #sign-up-button:hover {
  cursor: pointer;
  color: #ffffff;
}

@media only screen and (max-width: 2400px) { 
  #stay-updated {
    height: 330px;
  }
  #stay-updated p {
    margin-top: -1.5%;
  }
}

@media only screen and (max-width: 900px) {
  #stay-updated {
    height: 320px;
  }
  #stay-updated h1 {
    margin-top: 4%;
    font-size: 2.8em;
  }
  #stay-updated p {
    font-size: 1.2em;
  }
}

@media only screen and (max-width: 750px) {
  #stay-updated {
    height: 300px;
  }
  #stay-updated p{
    font-size: 1em;
  }
}

@media only screen and (max-width: 500px) {
  #stay-updated p {
    font-size: 0.8em;
  }
  #stay-updated #email-field {
    width: 120px;
    font-size: 0.7em;
    padding: 2.3vh;
  }
  #stay-updated #sign-up-button {
    font-size: 1em;
    padding: 2.3vh;
  }
}

/* Animations */

@keyframes slide-from-right {
  from {
    transform: translate(400px, 0);
  }
}

@keyframes slide-from-left {
  from {
    transform: translate(-400px, 0);
  }
} 