/* fonts */
@font-face {
  font-family: circular;
  src: url(/fonts/circular.ttf) format("truetype");
}

@font-face {
  font-family: circular-light;
  src: url(/fonts/circular-light.ttf) format("truetype");
}

/* website colours (other than white (#FFFFFF) and black (#000000)) */
:root {
  --blue: #59c9ff; /* for important text, headings, and button backgrounds */
  --dark-grey: #121212; /* background and text colour if background is light */
  --grey: #2b2b2b;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: circular-light, helvetica, sans-serif, arial;
  color: #ffffff;
  background-color: var(--dark-grey);
  overflow-x: hidden;
}

h1,
h3,
h4,
h5,
h6 {
  color: #ffffff;
  font-weight: 700;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 2em;
  font-weight: 500;
}

p {
  color: #ffffff;
}

a {
  color: #ffffff;
}

a:hover {
  color: var(--blue);
  text-decoration: none;
}

/* hero section */
#hero {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("/images/home/particles-hero-section.png"),
    url("/images/home/hero-section-bg2.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

#hero h1 {
  font-family: circular, helvetica, sans-serif, arial;
  text-align: center;
  margin-top: 100px;
}

#hero h2 {
  text-align: center;
  font-size: 1.2em;
  font-weight: 550;
}

.learn-more-button {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: var(--blue);
  border-radius: 10px;
  padding: 15px;
  width: 200px;
}

.learn-more-text {
  font-family: circular, helvetica, sans-serif, arial;
  text-decoration: none;
  color: var(--grey);
  font-size: 20px;
  font-weight: 600;
}

.learn-more-text:hover {
  color: #ffffff;
}

/* Problem section */
#problem {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-image: linear-gradient(
      rgba(43, 43, 43, 0.8),
      rgba(43, 43, 43, 0.8)
    ),
    url("/images/background.png");
  background-size: cover;
  height: 100vh;
}

#problem #problem-text {
  display: flex;
  flex-direction: column;
}

#problem #problem-text h1 {
  font-family: circular, helvetica, sans-serif, arial;
  color: var(--blue);
}

#problem img {
  width: 30vw;
}

/* Solution Section */
#solution {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-image: linear-gradient(
      rgba(43, 43, 43, 0.8),
      rgba(43, 43, 43, 0.8)
    ),
    url("/images/home/particles-overlay.png"), url("/images/background.png");
  background-size: cover;
  height: 100vh;
}

#solution #solution-text {
  display: flex;
  flex-direction: column;
  text-align: right;
}

#solution #solution-text h1 {
  font-family: circular, helvetica, sans-serif, arial;
  text-align: right;
  color: var(--blue);
}

#solution img {
  width: 35vw;
}

/* Answer Section */
#answer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-image: linear-gradient(
      rgba(43, 43, 43, 0.8),
      rgba(43, 43, 43, 0.8)
    ),
    url("/images/home/particles-overlay.png"), url("/images/background.png");
  background-size: cover;
  height: 100vh;
}

#answer #answer-text {
  display: flex;
  flex-direction: column;
}

#answer #answer-text h1 {
  font-family: circular, helvetica, sans-serif, arial;
  color: var(--blue);
}

#answer img {
  width: 30vw;
}

/* Stay Updated Section */
#stay-updated {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(
      rgba(21, 21, 21, 0.6),
      rgba(21, 21, 21, 0.6)
    ),
    url("/images/home/abstract-bg.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 365px;
}

#stay-updated h1 {
  margin-top: 3%;
  font-size: 3em;
  color: var(--blue);
}

#stay-updated p {
  margin-top: -1.5%;
  text-align: center;
  font-size: 1.5em;
}

#stay-updated #email-field {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  padding: 2.6vh;
  width: 250px;
  border: 2px solid white;
  border-radius: 10px;
  font-size: 0.9em;
  text-align: center;
}

#stay-updated #email-field::placeholder {
  color: white;
  opacity: 70%;
}

#stay-updated #sign-up-button {
  font-family: circular, helvetica, sans-serif, arial;
  font-weight: 700;
  background-color: var(--blue);
  color: var(--grey);
  padding: 2.5vh;
  margin-left: 10px;
  width: 150px;
  border: none;
  border-radius: 10px;
  font-size: 1.2em;
}

#stay-updated #sign-up-button:hover {
  cursor: pointer;
  color: #ffffff;
}
