/* fonts */
@font-face {
  font-family: circular;
  src: url(/fonts/circular.ttf) format("truetype");
}

@font-face {
  font-family: circular-light;
  src: url(/fonts/circular-light.ttf) format("truetype");
}

/* website colours (other than white (#FFFFFF) and black (#000000)) */
:root {
  --blue: #59c9ff; /* for important text, headings, and button backgrounds */
  --dark-grey: #121212; /* background and text colour if background is light */
  --grey: #2b2b2b;
}

body {
  margin: 0;
  font-family: circular-light, helvetica, sans-serif, arial;
  color: #ffffff;
  background-color: var(--dark-grey);
  overflow-x: hidden;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ffffff;
  font-weight: 700;
}

p {
  color: #ffffff;
}

a {
  color: #ffffff;
}

a:hover {
  color: var(--blue);
  text-decoration: none;
}

/* hero section */
#hero {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    /* linear-gradient is to dim the background image */
      url("/images/home/landing-section-bg.jpg");
  background-size: cover;
  height: 100vh;
}

#hero h1 {
  font-family: circular, helvetica, sans-serif, arial;
  text-align: center;
  margin-top: 35vh;
  font-size: 70px;
}

#hero h2 {
  text-align: center;
  font-size: 20px;
  font-weight: 550;
}

.learn-more-button {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: var(--blue);
  border-radius: 20px;
  padding: 15px;
  width: 200px;
}

.learn-more-text {
  font-family: circular, helvetica, sans-serif, arial;
  text-decoration: none;
  color: var(--grey);
  font-size: 20px;
  font-weight: 700;
}

.learn-more-text:hover {
  color: #ffffff;
}

/* Problem section */
#problem {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-image: linear-gradient(
      rgba(43, 43, 43, 0.8),
      rgba(43, 43, 43, 0.8)
    ),
    url("/images/background.png");
  background-size: cover;
  height: 100vh;
}

#problem #problem-text {
  display: flex;
  flex-direction: column;
}

#problem #problem-text h1 {
  font-family: circular, helvetica, sans-serif, arial;
  font-size: 70px;
  color: var(--blue);
}

#problem #problem-text h2 {
  font-size: 50px;
}

#problem img {
  width: 30vw;
  height: 30vw;
}

/* Solution Section */
#solution {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-image: linear-gradient(
      rgba(43, 43, 43, 0.8),
      rgba(43, 43, 43, 0.8)
    ),
    url("/images/home/particles-overlay.png"), url("/images/background.png");
  background-size: cover;
  height: 100vh;
}

#solution #solution-text {
  display: flex;
  flex-direction: column;
  text-align: right;
}

#solution #solution-text h1 {
  font-family: circular, helvetica, sans-serif, arial;
  font-size: 70px;
  text-align: right;
  color: var(--blue);
}

#solution #solution-text h2 {
  font-size: 50px;
}

#solution img {
  width: 35vw;
}

/* Answer Section */
#answer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-image: linear-gradient(
      rgba(43, 43, 43, 0.8),
      rgba(43, 43, 43, 0.8)
    ),
    url("/images/home/particles-overlay.png"), url("/images/background.png");
  background-size: cover;
  height: 100vh;
}

#answer #answer-text {
  display: flex;
  flex-direction: column;
}

#answer #answer-text h1 {
  font-family: circular, helvetica, sans-serif, arial;
  font-size: 70px;
  color: var(--blue);
}

#answer #answer-text h2 {
  font-size: 50px;
}

#answer img {
  width: 50vw;
}
