@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro);
@import url(https://fonts.googleapis.com/css?family=Cutive+Mono);
	



html, body {
width: 100%;
height: 100%;
background-color: #2f3238;
}



* {
  box-sizing: border-box;
}

body {
}

a {
  text-decoration: none;
}

.card-list {
  margin: 50px 5%;
  display: grid;
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 50px;
}

.card {
  display: block;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 3px 0px 0 #00000050, 0 6px 20px 0 #00000050;
}

.card:hover {
  box-shadow: 0 2px 4px 0 #ffffffff, 0 4px 12px 0 #ffffffff;
  transition: 500ms;
}

.names {
  font-family: "Source Code Pro", sans-serif;
  font-size: 15px;
  color: #dee0e0;
}

.logos {
  width: 150px;
  margin-top: 20px;
  opacity: 1;
  background-color:#9ae6ae;
  border-radius: 0.4rem;
}

@media screen and (min-width: 820px) {
  .card-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .card-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
