<html>
 <body>
  <link rel="stylesheet" src="Stylesheet.css"/> 

  <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
  
  <!--can download these at https://github.com/jamietre/ImageMapster-->
  <script type="text/javascript" src="ImageMapster-master/src/redist/when.js"></script> 
  <script type="text/javascript" src="ImageMapster-master/src/redist/when.js"></script>
  <script type="text/javascript" src="ImageMapster-master/src/core.js"></script>
  <script type="text/javascript" src="ImageMapster-master/src/graphics.js"></script>
  <script type="text/javascript" src="ImageMapster-master/src/mapimage.js"></script>
  <script type="text/javascript" src="ImageMapster-master/src/mapdata.js"></script>
  <script type="text/javascript" src="ImageMapster-master/src/areadata.js"></script>
  <script type="text/javascript" src="ImageMapster-master/src/areacorners.js"></script>
  <script type="text/javascript" src="ImageMapster-master/src/scale.js"></script>
  <script type="text/javascript" src="ImageMapster-master/src/tooltip.js"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

   <h1>
<img src="Base.jpg" id="face" usemap="#image-map">

<button name="therapy" onclick="match()" type="button">Get results</button> <!--insert therapy page url into href-->

<map name="image-map">
  <!--left forehead-->
  <area class="area" data-num="1" data-group="group_left_forehead" target="" alt="" title="" href="#" coords="210,37,150,45,246,99" shape="poly">
  <area class="area" data-num="2" data-group="group_left_forehead" target="" alt="" title="" href="#" coords="246,99,150,45,130,48,121,54,130,142" shape="poly">
  <area class="area" data-num="3" data-group="group_left_forehead" target="" alt="" title="" href="#" coords="121,54,79,97,128,142" shape="poly">
  <area class="area" data-num="4" data-group="group_left_forehead" target="" alt="" title="" href="#" coords="79,98,57,124,54,163,127,143" shape="poly">
  <area class="area" data-num="5" data-group="group_left_forehead" target="" alt="" title="" href="#" coords="53,162,34,176,40,147,57,123" shape="poly">
  <area class="area" data-num="6" data-group="group_left_forehead" target="" alt="" title="" href="#" coords="54,163,34,178,31,202,37,268" shape="poly">
  <area class="area" data-num="7" data-group="group_left_forehead" target="" alt="" title="" href="#" coords="54,162,37,269,76,235" shape="poly">
  <area class="area" data-num="8" data-group="group_left_forehead" target="" alt="" title="" href="#" coords="128,143,54,163,105,188" shape="poly">
  <area class="area" data-num="9" data-group="group_left_forehead" target="" alt="" title="" href="#" coords="104,188,53,162,76,235,90,229,90,229,90,229" shape="poly">
  <area class="area" data-num="10" data-group="group_left_forehead" target="" alt="" title="" href="#" coords="244,200,128,142,105,189" shape="poly">
  <area class="area" data-num="11" data-group="group_left_forehead" target="" alt="" title="" href="#" coords="244,199,170,210,107,188" shape="poly">
  <area class="area" data-num="12" data-group="group_left_forehead" target="" alt="" title="" href="#" coords="114,229,90,229,105,189" shape="poly">
  <area class="area" data-num="13" data-group="group_left_forehead" target="" alt="" title="" href="#" coords="170,210,116,229,105,188" shape="poly">
  <area class="area" data-num="14" data-group="group_left_forehead" target="" alt="" title="" href="#" coords="170,210,151,233,171,233,190,238" shape="poly">
  <area class="area" data-num="15" data-group="group_left_forehead" target="" alt="" title="" href="#" coords="168,210,151,234,117,229" shape="poly">
  <area class="area" data-num="218" data-group="group_left_forehead" target="" alt="" title="" href="#" coords="246,98,246,37,212,37" shape="poly">
  <area class="area" data-num="219" data-group="group_left_forehead" target="" alt="" title="" href="#" coords="246,100,246,199,130,142" shape="poly">
  <area class="area" data-num="220" data-group="group_left_forehead" target="" alt="" title="" href="#" coords="246,227,246,199,170,210" shape="poly">
  <area class="area" data-num="221" data-group="group_left_forehead" target="" alt="" title="" href="#" coords="244,227,170,210,192,238" shape="poly">

  <!--right forehead-->
  <area class="area" data-num="16" data-group="group_right_forehead" target="" alt="" title="" href="#" coords="281,36,343,47,246,99" shape="poly">
  <area class="area" data-num="17" data-group="group_right_forehead" target="" alt="" title="" href="#" coords="246,99,345,47,362,49,372,56,363,141" shape="poly">
  <area class="area" data-num="18" data-group="group_right_forehead" target="" alt="" title="" href="#" coords="372,55,414,96,363,140" shape="poly">
  <area class="area" data-num="19" data-group="group_right_forehead" target="" alt="" title="" href="#" coords="414,96,363,140,439,161,436,127" shape="poly">
  <area class="area" data-num="20" data-group="group_right_forehead" target="" alt="" title="" href="#" coords="459,199,442,180,436,129,454,151" shape="poly">
  <area class="area" data-num="21" data-group="group_right_forehead" target="" alt="" title="" href="#" coords="459,201,443,181,456,270" shape="poly">
  <area class="area" data-num="22" data-group="group_right_forehead" target="" alt="" title="" href="#" coords="440,163,456,270,417,233" shape="poly">
  <area class="area" data-num="23" data-group="group_right_forehead" target="" alt="" title="" href="#" coords="385,189,440,162,440,162,416,234,416,234,402,226,402,226" shape="poly">
  <area class="area" data-num="24" data-group="group_right_forehead" target="" alt="" title="" href="#" coords="363,140,439,162,385,188" shape="poly">
  <area class="area" data-num="25" data-group="group_right_forehead" target="" alt="" title="" href="#" coords="244,200,363,141,385,188" shape="poly">
  <area class="area" data-num="26" data-group="group_right_forehead" target="" alt="" title="" href="#" coords="244,199,323,209,383,189" shape="poly">
  <area class="area" data-num="27" data-group="group_right_forehead" target="" alt="" title="" href="#" coords="402,227,380,229,385,189" shape="poly">
  <area class="area" data-num="28" data-group="group_right_forehead" target="" alt="" title="" href="#" coords="323,210,378,229,385,189" shape="poly">
  <area class="area" data-num="29" data-group="group_right_forehead" target="" alt="" title="" href="#" coords="323,211,378,228,340,233" shape="poly">
  <area class="area" data-num="30" data-group="group_right_forehead" target="" alt="" title="" href="#" coords="323,210,303,238,320,234,340,234" shape="poly">
  <area class="area" data-num="224" data-group="group_right_forehead" target="" alt="" title="" href="#" coords="245,98,246,35,281,36" shape="poly">
  <area class="area" data-num="225" data-group="group_right_forehead" target="" alt="" title="" href="#" coords="246,100,246,199,362,141" shape="poly">
  <area class="area" data-num="226" data-group="group_right_forehead" target="" alt="" title="" href="#" coords="246,227,246,199,323,209" shape="poly">
  <area class="area" data-num="227" data-group="group_right_forehead" target="" alt="" title="" href="#" coords="244,227,321,211,300,240" shape="poly">

  <!--left cheek-->
  <area class="area" data-num="31" data-group="group_left_cheek" target="" alt="" title="" href="#" coords="53,266,37,268,65,308" shape="poly">
  <area class="area" data-num="32" data-group="group_left_cheek" target="" alt="" title="" href="#" coords="65,308,43,314,37,268" shape="poly">
  <area class="area" data-num="33" data-group="group_left_cheek" target="" alt="" title="" href="#" coords="84,328,43,316,45,382,84,328" shape="poly">
  <area class="area" data-num="34" data-group="group_left_cheek" target="" alt="" title="" href="#" coords="103,336,84,329,46,380" shape="poly">
  <area class="area" data-num="35" data-group="group_left_cheek" target="" alt="" title="" href="#" coords="137,391,47,379,104,336,137,391" shape="poly">
  <area class="area" data-num="36" data-group="group_left_cheek" target="" alt="" title="" href="#" coords="105,337,129,339,137,390" shape="poly">
  <area class="area" data-num="37" data-group="group_left_cheek" target="" alt="" title="" href="#" coords="130,339,137,391,166,324" shape="poly">
  <area class="area" data-num="38" data-group="group_left_cheek" target="" alt="" title="" href="#" coords="167,323,138,391,213,358" shape="poly">
  <area class="area" data-num="39" data-group="group_left_cheek" target="" alt="" title="" href="#" coords="93,441,55,429,47,380" shape="poly">
  <area class="area" data-num="40" data-group="group_left_cheek" target="" alt="" title="" href="#" coords="95,441,47,379,136,390" shape="poly">
  <area class="area" data-num="41" data-group="group_left_cheek" target="" alt="" title="" href="#" coords="134,442,96,441,136,391" shape="poly">
  <area class="area" data-num="42" data-group="group_left_cheek" target="" alt="" title="" href="#" coords="137,391,183,427,135,443" shape="poly">
  <area class="area" data-num="43" data-group="group_left_cheek" target="" alt="" title="" href="#" coords="201,406,182,427,137,391,167,398" shape="poly">
  <area class="area" data-num="44" data-group="group_left_cheek" target="" alt="" title="" href="#" coords="213,358,201,406,137,390" shape="poly">
  <area class="area" data-num="45" data-group="group_left_cheek" target="" alt="" title="" href="#" coords="54,429,67,471,95,441" shape="poly">
  <area class="area" data-num="46" data-group="group_left_cheek" target="" alt="" title="" href="#" coords="68,469,77,500,96,441" shape="poly">
  <area class="area" data-num="47" data-group="group_left_cheek" target="" alt="" title="" href="#" coords="92,526,96,442,77,502" shape="poly">
  <area class="area" data-num="48" data-group="group_left_cheek" target="" alt="" title="" href="#" coords="116,493,96,446,92,532,97,535,97,535" shape="poly">
  <area class="area" data-num="49" data-group="group_left_cheek" target="" alt="" title="" href="#" coords="155,525,95,542,117,493,131,505" shape="poly">
  <area class="area" data-num="50" data-group="group_left_cheek" target="" alt="" title="" href="#" coords="116,492,179,481,154,525" shape="poly">
  <area class="area" data-num="51" data-group="group_left_cheek" target="" alt="" title="" href="#" coords="181,480,179,427,116,492" shape="poly">
  <area class="area" data-num="52" data-group="group_left_cheek" target="" alt="" title="" href="#" coords="94,440,133,442,115,491" shape="poly">
  <area class="area" data-num="53" data-group="group_left_cheek" target="" alt="" title="" href="#" coords="182,427,116,492,134,442" shape="poly">
  <area class="area" data-num="54" data-group="group_left_cheek" target="" alt="" title="" href="#" coords="216,354,204,407,216,395" shape="poly">

  <!--right cheek-->
  <area class="area" data-num="55" data-group="group_right_cheek" target="" alt="" title="" href="#" coords="454,268,442,266,428,308" shape="poly">
  <area class="area" data-num="56" data-group="group_right_cheek" target="" alt="" title="" href="#" coords="446,314,429,307,454,268" shape="poly">
  <area class="area" data-num="57" data-group="group_right_cheek" target="" alt="" title="" href="#" coords="407,327,449,315,445,382" shape="poly">
  <area class="area" data-num="58" data-group="group_right_cheek" target="" alt="" title="" href="#" coords="443,379,408,328,388,336" shape="poly">
  <area class="area" data-num="59" data-group="group_right_cheek" target="" alt="" title="" href="#" coords="387,336,444,380,354,391" shape="poly">
  <area class="area" data-num="60" data-group="group_right_cheek" target="" alt="" title="" href="#" coords="386,337,361,339,354,392" shape="poly">
  <area class="area" data-num="61" data-group="group_right_cheek" target="" alt="" title="" href="#" coords="361,340,324,324,354,392" shape="poly">
  <area class="area" data-num="62" data-group="group_right_cheek" target="" alt="" title="" href="#" coords="278,358,324,324,353,392" shape="poly">
  <area class="area" data-num="63" data-group="group_right_cheek" target="" alt="" title="" href="#" coords="353,391,290,407,278,358" shape="poly">
  <area class="area" data-num="64" data-group="group_right_cheek" target="" alt="" title="" href="#" coords="310,426,354,392,289,406" shape="poly">
  <area class="area" data-num="65" data-group="group_right_cheek" target="" alt="" title="" href="#" coords="356,391,356,442,310,426" shape="poly">
  <area class="area" data-num="66" data-group="group_right_cheek" target="" alt="" title="" href="#" coords="444,380,355,390,396,442" shape="poly">
  <area class="area" data-num="67" data-group="group_right_cheek" target="" alt="" title="" href="#" coords="438,432,397,440,442,380" shape="poly">
  <area class="area" data-num="68" data-group="group_right_cheek" target="" alt="" title="" href="#" coords="396,441,436,432,422,468" shape="poly">
  <area class="area" data-num="69" data-group="group_right_cheek" target="" alt="" title="" href="#" coords="423,470,413,500,394,440" shape="poly">
  <area class="area" data-num="70" data-group="group_right_cheek" target="" alt="" title="" href="#" coords="414,501,399,528,395,441" shape="poly">
  <area class="area" data-num="71" data-group="group_right_cheek" target="" alt="" title="" href="#" coords="395,441,400,530,394,537,374,491" shape="poly">
  <area class="area" data-num="72" data-group="group_right_cheek" target="" alt="" title="" href="#" coords="395,539,375,493,336,523" shape="poly">
  <area class="area" data-num="73" data-group="group_right_cheek" target="" alt="" title="" href="#" coords="375,493,337,524,311,481" shape="poly">
  <area class="area" data-num="74" data-group="group_right_cheek" target="" alt="" title="" href="#" coords="374,493,311,481,311,428" shape="poly">
  <area class="area" data-num="75" data-group="group_right_cheek" target="" alt="" title="" href="#" coords="356,442,310,427,375,491" shape="poly">
  <area class="area" data-num="76" data-group="group_right_cheek" target="" alt="" title="" href="#" coords="396,440,375,491,356,440" shape="poly">
  <area class="area" data-num="77" data-group="group_right_cheek" target="" alt="" title="" href="#" coords="396,440,356,441,356,391" shape="poly">
  
  <!--mustache area-->
  <area class="area" data-num="78" data-group="group_mustache" target="" alt="" title="" href="#" coords="196,447,180,428,181,478" shape="poly">
  <area class="area" data-num="79" data-group="group_mustache" target="" alt="" title="" href="#" coords="212,451,196,446,181,480" shape="poly">
  <area class="area" data-num="80" data-group="group_mustache" target="" alt="" title="" href="#" coords="210,452,181,478,185,502" shape="poly">
  <area class="area" data-num="81" data-group="group_mustache" target="" alt="" title="" href="#" coords="221,457,212,452,222,494" shape="poly">
  <area class="area" data-num="82" data-group="group_mustache" target="" alt="" title="" href="#" coords="221,494,210,494,212,452" shape="poly">
  <area class="area" data-num="83" data-group="group_mustache" target="" alt="" title="" href="#" coords="210,495,188,498,211,449" shape="poly">
  <area class="area" data-num="84" data-group="group_mustache" target="" alt="" title="" href="#" coords="222,492,221,456,244,467,230,494,222,492" shape="poly">
  <area class="area" data-num="85" data-group="group_mustache" target="" alt="" title="" href="#" coords="240,498,230,495,245,467" shape="poly">
  <area class="area" data-num="86" data-group="group_mustache" target="" alt="" title="" href="#" coords="252,500,241,500,246,466" shape="poly">
  <area class="area" data-num="87" data-group="group_mustache" target="" alt="" title="" href="#" coords="261,495,252,498,246,466" shape="poly">
  <area class="area" data-num="88" data-group="group_mustache" target="" alt="" title="" href="#" coords="269,456,246,466,261,495,267,494,269,456,269,456" shape="poly">
  <area class="area" data-num="89" data-group="group_mustache" target="" alt="" title="" href="#" coords="281,450,269,456,267,494" shape="poly">
  <area class="area" data-num="90" data-group="group_mustache" target="" alt="" title="" href="#" coords="280,453,301,498,281,494" shape="poly">
  <area class="area" data-num="91" data-group="group_mustache" target="" alt="" title="" href="#" coords="303,501,311,481,280,451" shape="poly">
  <area class="area" data-num="92" data-group="group_mustache" target="" alt="" title="" href="#" coords="324,505,304,499,311,482" shape="poly">
  <area class="area" data-num="93" data-group="group_mustache" target="" alt="" title="" href="#" coords="309,481,295,448,278,451" shape="poly">
  <area class="area" data-num="94" data-group="group_mustache" target="" alt="" title="" href="#" coords="310,427,295,447,310,484" shape="poly">
  <area class="area" data-num="95" data-group="group_mustache" target="" alt="" title="" href="#" coords="281,495,267,494,280,450" shape="poly">
  <area class="area" data-num="96" data-group="group_mustache" target="" alt="" title="" href="#" coords="184,502,165,505,181,480" shape="poly">

  <!--nasal area-->
  <area class="area" data-num="97" data-group="group_nose" target="" alt="" title="" href="#" coords="209,316,168,325,215,357" shape="poly">
  <area class="area" data-num="98" data-group="group_nose" target="" alt="" title="" href="#" coords="229,302,209,316,215,357" shape="poly">
  <area class="area" data-num="99" data-group="group_nose" target="" alt="" title="" href="#" coords="229,303,215,356,216,395,226,351" shape="poly">
  <area class="area" data-num="100" data-group="group_nose" target="" alt="" title="" href="#" coords="247,274,229,301,263,301" shape="poly">
  <area class="area" data-num="101" data-group="group_nose" target="" alt="" title="" href="#" coords="263,301,230,301,246,332" shape="poly">
  <area class="area" data-num="102" data-group="group_nose" target="" alt="" title="" href="#" coords="246,331,226,351,230,301" shape="poly">
  <area class="area" data-num="103" data-group="group_nose" target="" alt="" title="" href="#" coords="263,303,246,331,266,351" shape="poly">
  <area class="area" data-num="104" data-group="group_nose" target="" alt="" title="" href="#" coords="235,373,226,351,244,332" shape="poly">
  <area class="area" data-num="105" data-group="group_nose" target="" alt="" title="" href="#" coords="256,374,235,374,245,330" shape="poly">
  <area class="area" data-num="106" data-group="group_nose" target="" alt="" title="" href="#" coords="266,351,256,373,246,332" shape="poly">
  <area class="area" data-num="107" data-group="group_nose" target="" alt="" title="" href="#" coords="235,373,218,394,226,352" shape="poly">
  <area class="area" data-num="108" data-group="group_nose" target="" alt="" title="" href="#" coords="229,409,216,395,235,375" shape="poly">
  <area class="area" data-num="109" data-group="group_nose" target="" alt="" title="" href="#" coords="235,376,229,410,230,425,246,414" shape="poly">
  <area class="area" data-num="110" data-group="group_nose" target="" alt="" title="" href="#" coords="256,374,235,374,246,413" shape="poly">
  <area class="area" data-num="111" data-group="group_nose" target="" alt="" title="" href="#" coords="256,374,263,411,261,425,246,413" shape="poly">
  <area class="area" data-num="112" data-group="group_nose" target="" alt="" title="" href="#" coords="275,394,263,408,256,375" shape="poly">
  <area class="area" data-num="113" data-group="group_nose" target="" alt="" title="" href="#" coords="278,357,323,324,283,316" shape="poly">
  <area class="area" data-num="114" data-group="group_nose" target="" alt="" title="" href="#" coords="283,316,263,302,278,357" shape="poly">
  <area class="area" data-num="115" data-group="group_nose" target="" alt="" title="" href="#" coords="278,357,290,407,275,393" shape="poly">
  <area class="area" data-num="116" data-group="group_nose" target="" alt="" title="" href="#" coords="290,407,300,422,280,432" shape="poly">
  <area class="area" data-num="117" data-group="group_nose" target="" alt="" title="" href="#" coords="246,439,230,426,226,443" shape="poly">
  <area class="area" data-num="118" data-group="group_nose" target="" alt="" title="" href="#" coords="260,426,266,443,246,440" shape="poly">
  <area class="area" data-num="119" data-group="group_nose" target="" alt="" title="" href="#" coords="263,410,278,431,266,442,260,425" shape="poly">
  <area class="area" data-num="120" data-group="group_nose" target="" alt="" title="" href="#" coords="205,407,193,421,212,432" shape="poly">
  <area class="area" data-num="121" data-group="group_nose" target="" alt="" title="" href="#" coords="216,396,204,408,212,430" shape="poly">
  <area class="area" data-num="122" data-group="group_nose" target="" alt="" title="" href="#" coords="275,393,266,350,263,303,278,356" shape="poly">
  <area class="area" data-num="123" data-group="group_nose" target="" alt="" title="" href="#" coords="261,425,246,439,230,425,246,414" shape="poly">
  <area class="area" data-num="124" data-group="group_nose" target="" alt="" title="" href="#" coords="266,350,275,393,256,375" shape="poly">
  <area class="area" data-num="125" data-group="group_nose" target="" alt="" title="" href="#" coords="290,407,278,432,275,395" shape="poly">
  <area class="area" data-num="126" data-group="group_nose" target="" alt="" title="" href="#" coords="229,410,216,396,213,430" shape="poly">
  <area class="area" data-num="127" data-group="group_nose" target="" alt="" title="" href="#" coords="275,394,263,410,278,431" shape="poly">
  <area class="area" data-num="128" data-group="group_nose" target="" alt="" title="" href="#" coords="227,410,230,424,226,442,213,432,213,432" shape="poly">
  <area class="area" data-num="214" data-group="group_nose" target="" alt="" title="" href="#" coords="244,228,195,239,213,245,221,255" shape="poly">
  <area class="area" data-num="215" data-group="group_nose" target="" alt="" title="" href="#" coords="246,227,246,273,221,256" shape="poly">
  <area class="area" data-num="216" data-group="group_nose" target="" alt="" title="" href="#" coords="246,227,246,273,272,257" shape="poly">
  <area class="area" data-num="217" data-group="group_nose" target="" alt="" title="" href="#" coords="247,228,297,240,278,247,272,257" shape="poly">

  <!--chin/jaw-->
  <area class="area" data-num="129" data-group="group_jaw" target="" alt="" title="" href="#" coords="155,525,97,542,141,551" shape="poly">
  <area class="area" data-num="130" data-group="group_jaw" target="" alt="" title="" href="#" coords="135,586,98,543,140,551" shape="poly">
  <area class="area" data-num="131" data-group="group_jaw" target="" alt="" title="" href="#" coords="188,549,156,525,142,551" shape="poly">
  <area class="area" data-num="132" data-group="group_jaw" target="" alt="" title="" href="#" coords="188,549,135,586,140,551" shape="poly">
  <area class="area" data-num="133" data-group="group_jaw" target="" alt="" title="" href="#" coords="190,549,191,573,134,586" shape="poly">
  <area class="area" data-num="134" data-group="group_jaw" target="" alt="" title="" href="#" coords="210,559,189,549,191,572" shape="poly">
  <area class="area" data-num="135" data-group="group_jaw" target="" alt="" title="" href="#" coords="192,597,136,585,191,573" shape="poly">
  <area class="area" data-num="136" data-group="group_jaw" target="" alt="" title="" href="#" coords="190,597,205,635,194,629,134,586" shape="poly">
  <area class="area" data-num="137" data-group="group_jaw" target="" alt="" title="" href="#" coords="247,573,210,559,190,572" shape="poly">
  <area class="area" data-num="138" data-group="group_jaw" target="" alt="" title="" href="#" coords="246,573,230,612,190,597" shape="poly">
  <area class="area" data-num="139" data-group="group_jaw" target="" alt="" title="" href="#" coords="205,636,229,612,190,597" shape="poly">
  <area class="area" data-num="140" data-group="group_jaw" target="" alt="" title="" href="#" coords="246,618,247,643,206,634,229,611" shape="poly">
  <area class="area" data-num="141" data-group="group_jaw" target="" alt="" title="" href="#" coords="247,617,230,611,246,572,263,611" shape="poly">
  <area class="area" data-num="142" data-group="group_jaw" target="" alt="" title="" href="#" coords="263,611,246,617,248,643,283,637" shape="poly">
  <area class="area" data-num="143" data-group="group_jaw" target="" alt="" title="" href="#" coords="300,599,262,611,284,639" shape="poly">
  <area class="area" data-num="144" data-group="group_jaw" target="" alt="" title="" href="#" coords="301,573,246,571,299,597" shape="poly">
  <area class="area" data-num="145" data-group="group_jaw" target="" alt="" title="" href="#" coords="246,572,283,559,300,573" shape="poly">
  <area class="area" data-num="146" data-group="group_jaw" target="" alt="" title="" href="#" coords="357,588,286,637,299,597" shape="poly">
  <area class="area" data-num="147" data-group="group_jaw" target="" alt="" title="" href="#" coords="301,573,302,548,282,559" shape="poly">
  <area class="area" data-num="148" data-group="group_jaw" target="" alt="" title="" href="#" coords="356,588,301,573,298,596" shape="poly">
  <area class="area" data-num="149" data-group="group_jaw" target="" alt="" title="" href="#" coords="356,587,301,548,300,573" shape="poly">
  <area class="area" data-num="150" data-group="group_jaw" target="" alt="" title="" href="#" coords="356,586,351,552,302,548" shape="poly">
  <area class="area" data-num="151" data-group="group_jaw" target="" alt="" title="" href="#" coords="350,552,337,525,301,547" shape="poly">
  <area class="area" data-num="152" data-group="group_jaw" target="" alt="" title="" href="#" coords="395,545,337,524,350,551" shape="poly">
  <area class="area" data-num="153" data-group="group_jaw" target="" alt="" title="" href="#" coords="393,546,356,587,350,551" shape="poly">
  <area class="area" data-num="154" data-group="group_jaw" target="" alt="" title="" href="#" coords="246,573,192,597,191,573" shape="poly">
  <area class="area" data-num="155" data-group="group_jaw" target="" alt="" title="" href="#" coords="300,598,262,610,246,572" shape="poly">


  <!--eyes-->
  <!--left eye-->
  <area class="area" data-num="156" data-group="group_left_eye" target="" alt="" title="" href="#" coords="71,249,51,265,74,288,66,262" shape="poly">
  <area class="area" data-num="157" data-group="group_left_eye" target="" alt="" title="" href="#" coords="74,290,65,310,53,266" shape="poly">
  <area class="area" data-num="158" data-group="group_left_eye" target="" alt="" title="" href="#" coords="65,309,73,289,96,275,83,294,79,313" shape="poly">
  <area class="area" data-num="159" data-group="group_left_eye" target="" alt="" title="" href="#" coords="42,313,63,309,93,315,87,329" shape="poly">
  <area class="area" data-num="160" data-group="group_left_eye" target="" alt="" title="" href="#" coords="107,325,93,315,87,330" shape="poly">
  <area class="area" data-num="161" data-group="group_left_eye" target="" alt="" title="" href="#" coords="108,327,130,339,104,338,90,330" shape="poly">
  <area class="area" data-num="162" data-group="group_left_eye" target="" alt="" title="" href="#" coords="131,339,167,324,108,325" shape="poly">
  <area class="area" data-num="163" data-group="group_left_eye" target="" alt="" title="" href="#" coords="167,324,207,316,175,316,147,324" shape="poly">
  <area class="area" data-num="164" data-group="group_left_eye" target="" alt="" title="" href="#" coords="180,306,160,292,122,291,108,295,92,308,112,320,137,325,171,317" shape="poly">
  <area class="area" data-num="165" data-group="group_left_eye" target="" alt="" title="" href="#" coords="184,306,205,315,173,314" shape="poly">
  <area class="area" data-num="166" data-group="group_left_eye" target="" alt="" title="" href="#" coords="229,301,199,298,187,306,209,315" shape="poly">
  <area class="area" data-num="167" data-group="group_left_eye" target="" alt="" title="" href="#" coords="230,301,213,277,198,298" shape="poly">
  <area class="area" data-num="168" data-group="group_left_eye" target="" alt="" title="" href="#" coords="183,308,199,298,180,280" shape="poly">
  <area class="area" data-num="169" data-group="group_left_eye" target="" alt="" title="" href="#" coords="213,278,185,284,198,298" shape="poly">
  <area class="area" data-num="170" data-group="group_left_eye" target="" alt="" title="" href="#" coords="213,277,185,285,193,260" shape="poly">
  <area class="area" data-num="171" data-group="group_left_eye" target="" alt="" title="" href="#" coords="184,306,180,281,171,275,154,289,171,292" shape="poly">
  <area class="area" data-num="172" data-group="group_left_eye" target="" alt="" title="" href="#" coords="239,272,218,255,193,260,213,277" shape="poly">
  <area class="area" data-num="173" data-group="group_left_eye" target="" alt="" title="" href="#" coords="193,260,171,274,185,283" shape="poly">
  <area class="area" data-num="174" data-group="group_left_eye" target="" alt="" title="" href="#" coords="165,249,193,260,173,275" shape="poly">
  <area class="area" data-num="175" data-group="group_left_eye" target="" alt="" title="" href="#" coords="131,266,173,276,165,249" shape="poly">
  <area class="area" data-num="176" data-group="group_left_eye" target="" alt="" title="" href="#" coords="171,276,131,266,154,290" shape="poly">
  <area class="area" data-num="177" data-group="group_left_eye" target="" alt="" title="" href="#" coords="153,287,90,284,96,274,131,267" shape="poly">
  <area class="area" data-num="178" data-group="group_left_eye" target="" alt="" title="" href="#" coords="213,248,158,234,100,232,73,248,68,262,102,243,136,246,171,251,193,260,219,256" shape="poly">
  <area class="area" data-num="179" data-group="group_left_eye" target="" alt="" title="" href="#" coords="168,249,102,243,131,268" shape="poly">
  <area class="area" data-num="180" data-group="group_left_eye" target="" alt="" title="" href="#" coords="96,274,131,268,102,243" shape="poly">
  <area class="area" data-num="181" data-group="group_left_eye" target="" alt="" title="" href="#" coords="102,242,74,257,96,276" shape="poly">
  <area class="area" data-num="182" data-group="group_left_eye" target="" alt="" title="" href="#" coords="78,310,129,286,90,284,84,294" shape="poly">
  <area class="area" data-num="183" data-group="group_left_eye" target="" alt="" title="" href="#" coords="96,275,74,289,66,261,73,256" shape="poly">
  <area class="area" data-num="184" data-group="group_left_eye" target="" alt="" title="" href="#" coords="102,231,90,228,60,246,56,260" shape="poly">
  <area class="area" data-num="222" data-group="group_left_eye" target="" alt="" title="" href="#" coords="213,277,230,300,244,277,236,273" shape="poly">

  <!--right eye-->
  <area class="area" data-num="185" data-group="group_right_eye" target="" alt="" title="" href="#" coords="294,297,282,277,264,303" shape="poly">
  <area class="area" data-num="186" data-group="group_right_eye" target="" alt="" title="" href="#" coords="283,277,294,297,307,283" shape="poly">
  <area class="area" data-num="187" data-group="group_right_eye" target="" alt="" title="" href="#" coords="307,283,283,278,300,261" shape="poly">
  <area class="area" data-num="188" data-group="group_right_eye" target="" alt="" title="" href="#" coords="299,259,306,284,328,274" shape="poly">
  <area class="area" data-num="189" data-group="group_right_eye" target="" alt="" title="" href="#" coords="300,260,328,249,329,274" shape="poly">
  <area class="area" data-num="190" data-group="group_right_eye" target="" alt="" title="" href="#" coords="329,274,363,268,328,252" shape="poly">
  <area class="area" data-num="191" data-group="group_right_eye" target="" alt="" title="" href="#" coords="387,243,328,251,363,268" shape="poly">
  <area class="area" data-num="192" data-group="group_right_eye" target="" alt="" title="" href="#" coords="363,268,397,271,389,243" shape="poly">
  <area class="area" data-num="193" data-group="group_right_eye" target="" alt="" title="" href="#" coords="390,243,418,260,397,274" shape="poly">
  <area class="area" data-num="194" data-group="group_right_eye" target="" alt="" title="" href="#" coords="419,290,397,274,417,260,423,262,423,262,423,262" shape="poly">
  <area class="area" data-num="195" data-group="group_right_eye" target="" alt="" title="" href="#" coords="298,262,272,257,277,246,315,235,389,229,416,245,423,262,391,243,324,251,324,250" shape="poly">
  <area class="area" data-num="196" data-group="group_right_eye" target="" alt="" title="" href="#" coords="442,267,442,266,418,290,424,263,418,249,442,266,442,266,442,266" shape="poly">
  <area class="area" data-num="197" data-group="group_right_eye" target="" alt="" title="" href="#" coords="429,308,418,290,442,265" shape="poly">
  <area class="area" data-num="198" data-group="group_right_eye" target="" alt="" title="" href="#" coords="412,315,394,295,383,283,417,289,428,307" shape="poly">
  <area class="area" data-num="199" data-group="group_right_eye" target="" alt="" title="" href="#" coords="416,287,351,278,362,267,395,271,416,288" shape="poly">
  <area class="area" data-num="200" data-group="group_right_eye" target="" alt="" title="" href="#" coords="335,292,391,292,382,283,351,278,355,292" shape="poly">
  <area class="area" data-num="201" data-group="group_right_eye" target="" alt="" title="" href="#" coords="331,273,320,278,337,293,362,267" shape="poly">
  <area class="area" data-num="202" data-group="group_right_eye" target="" alt="" title="" href="#" coords="320,300,337,294,318,277,307,285,304,308" shape="poly">
  <area class="area" data-num="203" data-group="group_right_eye" target="" alt="" title="" href="#" coords="292,298,303,309,307,283" shape="poly">
  <area class="area" data-num="204" data-group="group_right_eye" target="" alt="" title="" href="#" coords="408,308,393,294,355,290,337,294,314,307,327,316,365,326,393,320,405,312" shape="poly">
  <area class="area" data-num="205" data-group="group_right_eye" target="" alt="" title="" href="#" coords="445,313,431,307,431,306,401,316,409,327,445,313" shape="poly">
  <area class="area" data-num="206" data-group="group_right_eye" target="" alt="" title="" href="#" coords="408,328,401,316,385,323" shape="poly">
  <area class="area" data-num="207" data-group="group_right_eye" target="" alt="" title="" href="#" coords="383,324,408,327,388,338,363,339" shape="poly">
  <area class="area" data-num="208" data-group="group_right_eye" target="" alt="" title="" href="#" coords="362,339,382,325,326,325" shape="poly">
  <area class="area" data-num="209" data-group="group_right_eye" target="" alt="" title="" href="#" coords="326,324,285,316,319,316,359,326" shape="poly">
  <area class="area" data-num="210" data-group="group_right_eye" target="" alt="" title="" href="#" coords="306,307,284,316,319,316" shape="poly">
  <area class="area" data-num="211" data-group="group_right_eye" target="" alt="" title="" href="#" coords="265,302,291,298,303,309,283,317" shape="poly">
  <area class="area" data-num="212" data-group="group_right_eye" target="" alt="" title="" href="#" coords="405,228,437,251,437,262,391,229,405,228" shape="poly">
  <area class="area" data-num="213" data-group="group_right_eye" target="" alt="" title="" href="#" coords="300,261,272,257,250,272,283,277" shape="poly">
  <area class="area" data-num="223" data-group="group_right_eye" target="" alt="" title="" href="#" coords="250,272,265,302,281,277,281,277,281,277" shape="poly">

  <!--As of 05/07/2020, there are 189 grouped polygons-->
  <!--05/08/2020: all major groupings completed, w/ 204 grouped -->
  <!--05/10/2020: 213 polygons now grouped, with more to come.-->
  <!--05/11/2020: all 227 polygon sorted.-->
    
</map>

<script>

    const REQUIREMENT = 0.20;
    var init = false;
    var numGroups; //# of groups of polygons (i.e. left forehead)
    var groupPolys = new Array(); //# of polygons in each group
    var groupNames = new Array(); //names of each general area of the face

    var image = $('#face');
    var imgElement = document.getElementById("face");
  
    image.mapster({
      
      clickNavigate: true,
      mapKey: 'data-num',

      render_select: {
        fillColor: '0099ff',
        fillOpacity: 0.5,
        stroke: true,
        strokeColor: 'b3b3b3',
        strokeWidth: 1,
        fade: true,
        fadeDuration: 300
      },

      render_highlight: {
        fade: true,
        fadeDuration: 300
      },

    });

    function initData() {

      var facemap = document.querySelector("[name='" + imgElement.getAttribute("usemap").substr(1) + "']"); //the image map that the face image uses
      var areaList = Array.from(facemap.querySelectorAll("area")); //converting NodeList of area elements within facemap into an array

      for(i = 0; i < areaList.length; i++) {
        if(!groupNames.includes(areaList[i].getAttribute("data-group"))) {
          groupNames.push(areaList[i].getAttribute("data-group"));
        }

        if(groupPolys[groupNames.indexOf(areaList[i].getAttribute("data-group"))]){
          groupPolys[groupNames.indexOf(areaList[i].getAttribute("data-group"))] ++;
        } else {
          groupPolys[groupNames.indexOf(areaList[i].getAttribute("data-group"))] = 1;
        }
      }

      init = true;

    }
    
    function match() {

      if(!init) {
        initData();
      }
      
      numGroups = groupNames.length;
      var groupAreas = new Array(numGroups); //each index tracks # of polygons in each group that are selected (highlighted)
      var satisfied = false; //if the requirements have been met
      var treatmentArea = "";
      
      for(i = 0; i < groupAreas.length; i++) { //initialize the counter
        groupAreas[i] = 0;
      }
 
      for(i = 0; i < image.mapster('get').split(',').length && image.mapster('get').split(',')[0]; i++) {
        let group = "";
        group = document.querySelector("area[data-num=" + CSS.escape(image.mapster('get').split(',')[i]) + "]").getAttribute("data-group");
        groupAreas[groupNames.indexOf(group)]++; 
      }
       
      for(i = 0; i < groupAreas.length && satisfied == false; i++) {
        if((groupAreas[i] / groupPolys[i]) >= REQUIREMENT) { //check if at least 75% of the polygons in an area have been selected
          satisfied = true;
        } 
      }
      
      if(!satisfied) {
        swal("Alert!", "Select more regions to narrow down a specific treatment plan!", "error",  {
        button: "Back!"})

      } else {
        //var indexOfMaxValue = groupAreas.reduce((iMax, x, i, array) => x > array[iMax] ? i : iMax, 0); // gets index of greatest value
        //treatmentArea = groupNames[indexOfMaxValue];

        swal("Awesome!", (() => {
            return("");
          })(), 
          "success", 
          {
            buttons: {
              reselect: {
              text: "Reselect Areas",
              value: null
              },
              proceed: {
                text: "Proceed!",
                value: "proceed"
              }
            },
        }).then((choice) => {
          if(choice) {
            //transition to dashboard
            //location.assign("dashboard.html");
            
            reqBody = {
            selectedAreas: groupAreas
            
           };
          const rawResponse = fetch("/dashboard/profile", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify(reqBody),
          })
          .then((response) => console.log('hel'))

          console.log(reqBody.selectedAreas);

            
          }
        });
      
      }

    }

  </script>

</h1>
  </body>
</html>
